.header{
    background-color: var(--colorAzul);
    padding: 20px 10px 10px;
}
.header h3{
    text-transform: uppercase;
    color: #fff;
    font-family: var(--familyTitles);
    margin-bottom: 10px;
    font-weight: 800;
}
.header button {

}
.header__nav{
    display: none;
}